{% extends 'homeLayout.html' %}

{% block content %}

    <div class="jumbotron">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>


    <div id="lorem">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis libero dolor, sodales sed turpis sed,
        dignissim tincidunt sem. In eget quam pharetra, euismod elit quis, laoreet sem. Nullam porttitor eros
        nulla, eget lobortis neque venenatis vitae. Sed a tellus risus. Morbi pretium venenatis est ac consectetur.
        Suspendisse diam diam, pulvinar in consequat et,
        porttitor vitae ante. Nulla facilisi. In et nibh sit amet dolor dictum aliquam sed et purus. Donec
        ut sagittis nibh.

        Nulla tempor sagittis eleifend. In tincidunt ex in risus euismod, ut imperdiet tortor aliquet. Maecenas
        aliquet, leo vitae placerat sollicitudin, nunc velit rutrum dolor, ac tempor ligula risus et leo. Sed mollis
        tortor eu orci volutpat cursus. Phasellus porta ex rutrum nulla facilisis lobortis a sit amet libero.
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur
        hendrerit diam eget pellentesque sagittis. Nunc facilisis semper tortor nec congue. Aenean fringilla faucibus
        nunc, sed tempor ante luctus non. Integer lacinia rutrum lorem eget fermentum. Curabitur consectetur, velit
        quis egestas hendrerit, purus quam sollicitudin turpis, a porta purus leo ac enim.
    </div>

{% endblock %}